body{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;padding: 0;
}
.bar{
    align-items: center;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
}
.link{
    color: rgb(255, 230, 0);
    text-decoration: none;
    font-size: 1.5rem;
}
.port{
    color: white;
    background-image: url("./pics/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
justify-content: center;
flex-direction: column;
}
pre{
    overflow: hidden;
    font-size:3rem;
}
.flex{
display: flex;
justify-content: center;
}
footer{

    width: 100vw;
}

@media(max-width:710px) and (min-width:470px){
    .flex{
        flex-direction: column;
    }
    .bar{
        height: auto;
        flex-direction:column;
        flex-wrap: nowrap;
    }
    
    pre{
        font-size:2rem; 
    }
}
@media(max-width:470px) {
    .flex{
        flex-direction: column;
    }
    pre{
    
        font-size:1.25rem; 
    }
    .bar{
        height: auto;
        flex-direction:column;
        flex-wrap: nowrap;
      
    }
   
}