body{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;padding: 0;
}
.bar{
    align-items: center;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
}
.link{
    color: rgb(255, 230, 0);
    text-decoration: none;
    font-size: 1.5rem;
}
.port{
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* grid-gap: 2px; */
    background-image: url("./pics/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
pre{
    overflow: hidden;
    font-size:3rem;
    grid-row: 2/6;
    grid-column: 2/6;
}
.intro{
    grid-row: 6/7;
    grid-column: 4/9;
}
.btn{
    grid-row: 7/8;
    grid-column: 4/6;   
}
.resize{
    box-shadow: 10px 10px 10px black;
    overflow: hidden;
    grid-row: 3/7;
    grid-column: 9/11; 
}
footer{

    width: 100vw;
}
.link:hover{
    color: #F96167;
    }
@media(max-width:710px) and (min-width:470px){
    .bar{
        height: auto;
        flex-direction:column;
        flex-wrap: nowrap;
    }
    
    pre{
        font-size:2rem; 
    }
}
@media(max-width:470px) {
    pre{
        grid-column: 4/7;
        font-size:1.25rem; 
    }
    .bar{
        height: auto;
        flex-direction:column;
        flex-wrap: nowrap;
      
    }
   
}